[Unit]
Description=choparp on iface %I
Requires=choparp.target
After=choparp.target

[Service]
Type=simple
Restart=on-failure
Environment="IFACE=%i" "MAC=auto"
EnvironmentFile=/etc/choparp/%i.conf
ExecStart=/usr/sbin/choparp ${IFACE} ${MAC} $IPS

[Install]
WantedBy=choparp.target
